.popup{
  display: flex;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  /* visibility: hidden; */
  z-index: 1000;
  position: fixed;
  justify-self: anchor-center;
  align-items: center;
  flex-direction: column;
   justify-content: center;
}

.popup__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: anchor-center;
}

.popup__profile {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 3;
  height: 100%;
  position: fixed;
  justify-content: center;
}

.popup__title {
  font-family: "Inter-black";
  font-size: 24px;
  width: 358px;
  padding: 34px 35px;
  background-color: white;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin: 0;
}

.popup__container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}


/*Image PopUp*/
.popup__image_image {
  width: auto;
  height: auto;
  padding-top: 2px;
  max-height: 540px;
  max-width: 824px;
}

.popup__image_name {
  padding-top: 10px;
  font-family: "Inter-regular";
  font-size: 12px;
  color: white;
}

.popup_opened {
  display: flex;
}

.popup__content_info{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 430px;
  border-radius: 10px;
}

.info-tooltip__icon{
  margin-top: 60px;
  margin-bottom: 32px;
  width: 120px;

}

.info-tooltip__message{
  font-family: "Inter-black";
  font-size: 24px;
  margin-left: 36px;
  margin-right: 36px;
  margin-bottom: 60px;
  text-align: center;
}

@media (max-width: 900px) {
  /*Image PopUp*/
  .popup__image_image {
    height: 400px;
    max-width: 590px;
  }
}
@media (max-width: 630px) {
  /*Image PopUp*/
  .popup__image_image {
    height: 300px;
    max-width: 590px;
  }

  .popup__content_info{
    width: 280px;
  }

  .info-tooltip__icon{
    margin-top: 50px;
    margin-bottom: 40px;
    width: 120px;
  }

  .info-tooltip__message{
    font-size: 20px;
    margin-left: 18px;
    margin-right: 18px;
    margin-bottom: 35px;
  }


}
  @media (max-width: 440px) {
    /*Image PopUp*/
    .popup__image_image {
    max-width: 280px;
    }

}
